@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.Demographic {
	color: black;
}

body {
	background: linear-gradient(#075172, #dbf5ec);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 2rem;
}

select {
	height: 50%;
}
